
jupyter*
*nfs*
__pycache__/
*.png
legacy
scripts/__pycache__
scripts/.ipynb*
puffin_manuscript
experiments/CNN/__pycache__
experiments/CNN/*.ipynb*
experiments/GENERator
experiments/GENERator/GENERator
